body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffb300;
}

header{
    background-color: #3681d6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.box{
    background-color: rgb(195, 255, 0);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

img{
    border-radius: 10px;
}

input, textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: auto;
}